<?xml version="1.0"?>
<launch>
    <node pkg="camera_lower_leg_tracking" name="read_rosbag" type="read_rosbag" output="screen">
        <param name="bag_file_path" value="/home/docker/ros_ws/data/KATE_AA_U010_16_yellow_line_force_right_60-1_2025-08-07-18-58-52.bag" />
        <param name="camera_depth_frame_id" value="lower_legs_camera_rgb_optical_frame" />

        <rosparam command="load" file="$(find camera_lower_leg_tracking)/include/KalmanFilterParameters_toe_positions.yaml"/>
        <param name="target_frequency" value="29.0" />

        <!-- coordinates in base_link frame -->
        <param name="min_z" value="0.02" />
        <param name="max_z" value="0.3" />
        <param name="min_y" value="-0.4" />
        <param name="max_y" value="0.4" />
        <param name="downsample_point_size" value="0.01" />
        <param name="cluster_tolerance" value="0.03" />
        <param name="min_cluster_size" value="150" />
    </node>

</launch>
